<table class='table'>
  <tr>
    <th></th>
    <th><%= image_tag customer.get_profile_image, class: "rounded-circle", size: "50x50" %></th>
    <th><%= customer.user_name %></th>
  </tr>
  <tr>
    <th></th>
    <th>address</th>
    <th><%= customer.prefecture.name %></th>
  </tr>
  <tr>
    <%# ← Aが存在したときのみBを表示する %>
    <% if customer.introduction.present? %>
      <th></th>
  	  <th>introduction</th>
  	  <th><%= customer.introduction %></th>
  	<% end %>
  </tr>
  <tr>
    <th></th>
    <th>follows</th>
    <th><%= link_to customer.followings.count, customer_follow_path(customer.id), class: "link" %></th>
  </tr>
  <tr>
    <th></th>
    <th>followers</th>
    <th><%= link_to customer.followers.count, customer_follow_path(customer.id), class: "link" %></th>
  </tr>
</table>

<div class='row'>
  <% if customer == current_customer  %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block col-sm-10 mx-auto edit_customer_#{customer.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if current_customer.following?(customer) %>
      <%= link_to "unfollow", customer_relationships_path(customer.id), method: :delete, class: "btn btn-outline-secondary btn-block col-sm-10 mx-auto" %>
    <% else %>
      <%= link_to "follow", customer_relationships_path(customer.id), method: :post, class: "btn btn-outline-secondary btn-block col-sm-10 mx-auto" %>
    <% end %>
  <% end %>
</div>