<%= render "customer/shared/error_messages", resource: @post_new %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4 mt-3'>
      <%= render 'customer/prefectures/prefecture', customer: @customer %>
      <%= render 'customer/customers/info', customer: @customer %>
      <%= render 'customer/posts/form', post: @post_new %>
    </div>
    <div class='col-md-8'>
      <h3 class="text-center mt-3">-post index-</h3>
      <div class="text-right">
        <%= link_to favorites_path(@customer), class: "btn btn-outline-secondary text-dark" do %>
          <i class="far fa-heart"></i>favorite
        <% end %>
      </div>
      <%= render 'customer/posts/index', posts: @posts %>
    </div>
  </div>
</div>