<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mt-3">-new post-</h3>
      <div class="d-flex align-content-start flex-wrap">
        <% @posts.each do |post| %>
          <div>
            <%= link_to post_path(post) do %>
              <%= image_tag post.post_images[0], size:'200x250' %>
            <% end %>
          </div>
          <div>
            <p><%= post.customer.user_name %></p><br>
            <p><%= truncate(post.title, length: 10) %></p>
          </div>
          <div><%= l post.created_at %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
