<%= render "customer/shared/error_messages", resource: @customer %>
<div class="container">
  <div class="row">
    <div class="col-md-12 justify-content-center mt-3">
      <h3 class="text-center">-user edit-</h3>
      <%= form_with model: @customer, url: admin_customer_path, method: :patch,  local:true, class: "ml-5" do |f| %>

        <div class="form-group row">
          <%= image_tag @customer.get_profile_image, class: "rounded-circle mr-5 ml-5", size: "130x130" %>
          <%= f.file_field :profile_image, class: "form-control-file rounded col-md-4 mt-5 ml-5", accept: 'image/*' %>
        </div>

        <div class="form-group row">
          <%= f.label :名前, class: 'col-md-3 control-label font-weight-bold' %>
          <%= f.text_field :first_name, autofocus: true, class: 'rounded col-md-3 mr-5' %>
          <%= f.text_field :last_name, class: 'rounded col-md-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :フリガナ, class: 'col-md-3 control-label font-weight-bold' %>
          <%= f.text_field :first_name_kana, class: 'rounded col-md-3 mr-5'%>
          <%= f.text_field :last_name_kana, class: 'rounded col-md-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :ユーザーネーム, class: 'col-md-3 control-label font-weight-bold' %>
          <%= f.text_field :user_name, class: 'rounded col-md-3 mr-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :お住まいの都道府県, class: 'col-md-3 control-label font-weight-bold' %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {class: 'rounded col-md-3'} %>
        </div>

        <div class="form-group row">
          <%= f.label :メールアドレス, class: 'col-md-3 control-label font-weight-bold' %>
          <%= f.email_field :email, class: 'rounded col-md-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :会員ステータス, class: 'col-md-4 control-label font-weight-bold' %>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効", class: 'col-md-1' %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会", class: 'col-md-1' %>
        </div>

        <div>
          <%= f.button :type => "submit", style: 'border-style: none;', class: "btn btn-success col-md-3 d-block mx-auto" do %>
            <i class="fa-solid fa-pen-to-square"></i>update
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>