<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4 mt-3'>
      <h3 class="text-center">-user detail-</h3>
      <table class='table mt-5'>
        <tr>
          <th></th>
          <th><%= image_tag @customer.get_profile_image, class: "rounded-circle", size: "50x50" %></th>
          <th><%= @customer.user_name %></th>
        </tr>
        <tr>
          <th></th>
          <th>address</th>
          <th><%= @customer.prefecture.name %></th>
        </tr>
        <tr>
          <% if @customer.introduction.present? %>
            <th></th>
        	  <th>introduction</th>
        	  <th><%= @customer.introduction %></th>
        	<% end %>
        </tr>
        <tr>
          <th></th>
          <th>follows</th>
          <th><%= @customer.followings.count %></th>
        </tr>
        <tr>
          <th></th>
          <th>followers</th>
          <th><%= @customer.followers.count %></th>
        </tr>
      </table>
      <div>
        <%= link_to edit_admin_customer_path(@customer), class: "btn btn-outline-secondary btn-block col-sm-10 mx-auto" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>
    <div class='col-md-8 text-center mt-3'>
      <%= render "admin/posts/index", posts: @posts, customer: @customer %>
    </div>
  </div>
</div>