<div class='container'>
  <div class='row'>
		<div class='col-md-12 text-center mt-3'>
    	<h3>-post detail-</h3>
		</div>
		<div class='col-md-7 mt-5 mb-5'>
		  <% @post.post_images.each do |image| %>
		    <%= image_tag image, size:"200x250" %>
		  <% end %>
		</div>
		<div class="col-md-5 mt-5">
  		<table class="table">
  		  <tr>
  		    <td class="col-md-6 font-weight-bold">user</td>
          <td class='col-md-6'>
            <%= link_to admin_customer_path(@customer) do %>
              <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:"100x100" %>
              <%= @post.customer.user_name %>
            <% end %>
          </td>
        </tr>
  		  <tr>
  		    <td class="col-md-6 font-weight-bold">title</td>
          <td class='col-md-6'><%= @post.title %></td>
        </tr>
  		  <tr>
  		    <td class="col-md-6 font-weight-bold">text</td>
          <td class='col-md-6'><%= @post.body %></td>
        </tr>
      </table>
      <div class="mt-4">
        <%= link_to edit_admin_post_path(@post), class: "btn btn-sm btn-success col-md-4 d-block mx-auto" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </div>
      <div class="comments-area mt-5">
        <%= render 'customer/post_comments/index', post: @post %>
      </div>
    </div>
  </div>
</div>
