<h2>Follower Users</h2>
<% if @customers_followers.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @customers_followers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image, class: "rounded-circle", size: "100x100" %></td>
          <td><%= customer.last_name %></td>
          <td>フォロワー数: <%= customer.followers.count %></td>
          <td><%= link_to "Show", customer, class: "customer_#{current_customer}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

<h2>Follow Users</h2>
<% if @customers_followings.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @customers_followings.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image, size:'50×50' %></td>
          <td><%= customer.last_name %></td>
          <td>フォロー数: <%= customer.followings.count %></td>
          <td><%= link_to "Show", customer, class: "customer_#{current_customer}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>