<div class='container'>
  <div class='row'>
    <div class='col-md-12 mt-3'>
      <% if @model == 'customer' %>
      	<h3 class="text-center mt-5">users search for "<%= @content %>"</h3>
        <%= render 'customer/customers/index', customers: @records %>
      <% elsif @model == 'post' %>
      	<h3 class="text-center mt-5">posts search for "<%= @content %>"</h3>
        <%= render 'customer/posts/index', posts: @records, customer: @customer %>
      <% elsif @model == 'prefecture' %>
      	<h3 class="text-center mt-5">prefectures search for "<%= @content %>"</h3>
        <%= render 'customer/customers/index', customers: @records %>
      <% end %>
    </div>
  </div>
</div>