<div class='container'>
  <div class='row'>
    <div class='col-md-12 mt-3'>
      <% if admin_signed_in? %>
        <% if @model == 'customer' %>
        	<h3 class="text-center mt-5">users search for "<%= @content %>"</h3>
        	<% if @records.exists? %>
            <%= render 'admin/customers/index', customers: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% elsif @model == 'post' %>
        	<h3 class="text-center mt-5">posts search for "<%= @content %>"</h3>
        	<% if @records.exists? %>
          	<%= render 'admin/posts/index', posts: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% elsif @model == 'prefecture' %>
        	<h3 class="text-center mt-5">prefectures search for "<%= @content %>"</h3>
        	<% if @records.exists? %>
            <%= render 'admin/customers/index', customers: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% end %>
      <% else %>
        <% if @model == 'customer' %>
        	<h3 class="text-center mt-5">users search for "<%= @content %>"</h3>
          <% if @records.exists? %>
            <%= render 'customer/customers/index', customers: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% elsif @model == 'post' %>
        	<h3 class="text-center mt-5">posts search for "<%= @content %>"</h3>
        	<% if @records.exists? %>
          	<%= render 'customer/posts/index', posts: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% elsif @model == 'prefecture' %>
        	<h3 class="text-center mt-5">prefectures search for "<%= @content %>"</h3>
        	<% if @records.exists? %>
            <%= render 'customer/customers/index', customers: @records %>
          <% else %>
            <p class="text-center">検索結果がありませんでした</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>