<%= form_with model: post, url: posts_path, method: :post, local:true do |f| %>

  <div class="field">
    <%= f.file_field :post_images, multiple: true, class: 'mt-5' %><br>
    <p class="text-right">※最大4枚まで</p>
  </div>

  <div class="field">
    <%= f.text_field :title, :placeholder => "title", class: 'rounded col-md-12 mt-1' %>
  </div>

  <div class="field">
    <%= f.text_area :body, :placeholder => "text", class: 'rounded col-md-12 mt-3' %>
  </div>

  <div class="actions">
    <%= f.button :type => "submit", class: "btn btn-outline-success btn-block col-sm-10 mx-auto mt-3" do %>
      <i class="fas fa-plus"></i>post
    <% end %>
  </div>
<% end %>
