<%= form_with model: post, url: posts_path, method: :post, local:true do |f| %>

  <div class="field">
    <%= f.file_field :post_images, multiple: true, class: 'mt-5' %><br>
    <p class="text-right">※最大3枚まで</p>
  </div>

  <div class="field">
    <%= f.text_field :title, :placeholder => "タイトル", class: 'rounded col-sm-12 mt-1' %>
  </div>

  <div class="field">
    <%= f.text_area :body, :placeholder => "本文", class: 'rounded col-sm-12 mt-3' %>
  </div>

  <div class="actions">
    <%= f.button :type => "submit", style: 'border-style: none;', class: "btn btn-success col-sm-12 mt-3" do %>
      <i class="fa-solid fa-plus"></i>post
    <% end %>
  </div>
<% end %>
