<%= render "customer/shared/error_messages", resource: @post %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h3 class="text-center mb-5">-post edit-</h3>
      <%= form_with model: @post, url: post_path, method: :patch, local:true do |f| %>

        <div class="form-group">
          <% if @post.post_images.attached? %>
            <div style="width: 750px;" class="d-flex justify-content-center offset-md-1">
              <% @post.post_images.each do |image| %>
                <div style="display: flex; margin:5px 5px 5px 0;">
                  <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
                  <label for="image_ids_<%= image.id %>" >
                    <%= image_tag image, size: '200x200' %>
                  </label>
                </div>
              <% end %>
            </div>
          <% end %>
          <p class="text-right mr-5">
            選択済みの画像<br>
            （削除する画像にチェックをつけてください）
          </p>
          <%= f.file_field :post_images, multiple: true, class: 'form-control-file offset-md-1' %>
        </div>

        <div class="form-group row">
          <%= f.label :タイトル, class: 'col-md-3 control-label font-weight-bold offset-md-1' %><br />
          <%= f.text_field :title, class: 'rounded col-md-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :本文, class: 'col-md-3 control-label font-weight-bold offset-md-1' %><br />
          <%= f.text_area :body, rows:'4', class: 'rounded col-md-5' %>
        </div>

        <div class="actions">
          <%= f.button :type => "submit", class: "btn btn-outline-success col-sm-3 mx-auto d-block" do %>
            <i class="fas fa-edit"></i>update
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>