<div class='container'>
  <div class='row'>
    <%= render 'layouts/error', model: @post %>
    <%= render 'form', post: @post %>
     <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<div>
  		  <% @post.post_images.each do |image| %>
  		    <%= image_tag image, size:"200x200" %>
  		  <% end %>
  		</div>
  		<table>
  		  <tr>
          <td>
            <%= link_to posts_path do %>
              <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:"100x100" %><br>
              <%= @post.customer.last_name %>
            <% end %>
          </td>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
          <td>コメント数: <%= @post.post_comments.count %></td>
          <td class="favorite_btn_<%= @post.id %>">
            <%= render "customer/favorites/favorite-btn", post: @post %>
          </td>
          <% if @post.customer == current_customer %>
            <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>
            <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger post_#{@post.id}"%></td>
          <% end %>
        </tr>
      </table>
      <div class="comments-area">
        <%= render 'customer/post_comments/index', post: @post %>
      </div>
      <div class="new-comment">
        <%= render 'customer/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>