<div class='container'>
  <div class='row'>
    <div class='col-md-4 mt-5'>
      <%= render 'layouts/error', model: @post_new %>
      <%= render 'customer/customers/info', customer: @customer %>
      <%= render 'form', post: @post_new %>
    </div>
     <div class='col-md-7 ml-5'>
  		<h2>投稿詳細</h2>
  		<div class="mt-5 mb-5">
  		  <% @post.post_images.each do |image| %>
  		    <%= image_tag image, size:"150x200", class: "mr-3" %>
  		  <% end %>
  		</div>
  		<table>
  		  <tr>
          <td>
            <%= link_to posts_path do %>
              <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:"45x45" %><br>
              <%= @post.customer.user_name %>
            <% end %>
          </td>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
          <td>コメント: <%= @post.post_comments.count %></td>
          <td class="favorite_btn_<%= @post.id %>">
            <%= render "customer/favorites/favorite-btn", post: @post %>
          </td>
          <% if @post.customer == current_customer %>
            <td>
              <%= link_to edit_post_path(@post), class: "btn btn-sm btn-success ml-2" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </td>
            <td>
              <%= link_to @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger ml-2" do %>
                <i class="fa-solid fa-eraser"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
      <div class="comment d-md-flex mt-5">
        <div class="comments-area col-md-6">
          <%= render 'customer/post_comments/index', post: @post %>
        </div>
        <div class="new-comment col-md-6 mt-3">
          <%= render 'customer/post_comments/form', post: @post, post_comment: @post_comment %>
        </div>
      </div>
    </div>
  </div>
</div>